<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sys.location" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--
            android:allowClearUserData="false"
            android:killAfterRestore="false"
            android:process="system"
    -->
    <!-- app提升为系统核心级别 -->
    <application
        android:allowBackup="true"
        android:name=".LocationApplication"
        android:allowClearUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:process="system"
        android:theme="@style/AppTheme" >

        <!-- 高德 定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8ce1518c457012fe119e46b83f9581e6" />

        <!-- 百度 定位 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="O0hAwtelrVKRijt6eVGQ4hE8" />


        <!--  android:excludeFromRecents="true"   使其不在home最近应用里显示   -->
        <activity
            android:name=".activity.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_main_activity_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="start_location_service" />
                <action android:name="stop_location_service" />
            </intent-filter>
        </service>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.LocationReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="2147483647" > <!-- 优先级加最高 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.location.service.action" />
                <!-- 解锁完成后会调用 -->
                <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
                <!-- 监听情景切换 -->
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.BootBroadCast"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.boot.action" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
